@charset "utf-8";

html {
	overflow-y: scroll;
}

body {
/*background-image:url('/images/background.jpg');*/
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center; 
-o-background-size: 100% 100%, auto;
-moz-background-size: 100% 100%, auto;
-webkit-background-size: 100% 100%, auto;
background-size: 100% 100%, auto;

}

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
	margin: 0;
	padding: 0;
	/*font-size:16px;*/
}

body,
button,
input,
select,
textarea {
	/*font: 12px/1.5 tahoma, arial, \5b8b\4f53;
	font-family: tahoma, arial, HM Ampersand Light, Arial, sans-serif;
	*/
}

address,
cite,
dfn,
em,
var {
	font-style: normal;
}

code,
kbd,
pre,
samp {
	/*font-family: courier new, courier, monospace;*/
}

small {
	font-size: 12px;
}

ul,
ol {
	list-style: none;
}

pre {
	white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
	white-space: -pre-wrap; /* Opera 4 - 6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
	word-wrap: break-word; /* IE 5.5+ */
}


.logo {
	display:block;
	margin-top:2em;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:2em;
}

.fb_logo{
	margin-top:0.5em;
	width:22px;
	height:22px;
}

.cart{
	margin-top:0.5em;
	width:30px;
	height:30px;
}

.menu_lang,
.menu_l1{
	text-align:right;
	background:#501100;
}

.menu_l1{
	background-color:rgb(176, 128,71);
	padding-right:3em;
}



.menu_l2 {
	padding-bottom:1em;
	background:#FFF;
	text-align:center;
	line-height:2.5em;	
}

a:visited,
#footer,
#footer  a:link,
.menu_l2 a:link
{
	color:rgb(176, 128,71);
}

#footer{
	padding-top:4em;
}

.menu_lang  li,
.menu_l1 li,
.menu_l2  li 
{
	display: inline;	
	padding-right: auto;
	padding-left:1em;
}


.menu_l2  li {	
	padding-left: 3px;
	padding-right: 3px;
}

.menu_l1 a,
.menu_l1 li{
	font-family: Arial;
	font-weight: bold;
	font-size:16px;
	color:#fff;
}

.menu_l1 a,
.menu_l1 li{
	font-size:14px;
}

.sitemap-left, .sitemap-right{

}

.footer_list{
	margin-left: 25%;
	margin-right: auto;	
	font-size:x-small;
}

.footer_list:after{
	clear:both;
	content:'.';
	display:block;
	visibility:hidden;
	width:0;
	height:0;
}

.footer_list .block{
	position: relative;
	float: left;
	padding-right:4em;
	
}

.footer_head{
	
	padding-bottom:0.5em;
	font-size:12px;
	/*border-bottom: 1px solid #565656;*/
}

.footer_script{
	margin-top:3em;
	text-align: center;
}


a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

sup {
	vertical-align: text-top;
}

sub {
	vertical-align: text-bottom;
}

legend {
	color: #000;
}

fieldset,
img {
	border: 0;
}

button,
input,
select,
textarea {
	font-size: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

table[name='location'] th,
table[name='location'] td{
	padding-right:3em;
}

body {
	/*background-color: #E6E6E6;*/
	background-color: #FFF;
}

#page,
#header,
#content,
#footer {
	margin-left: auto;
	margin-right: auto;
	width: 950px;
}



.section{
	margin-bottom:2em;
}

/***********************************
 * tag section
 */

a {
	color: #B08047;
}
 
h1 {
	background-color: #000;
	color: #FFF;
	display: block;
	font-size: 180%;
	padding: 10px 20px;
}

h2 {
	font-size: 110%;
}


/***********************************
 * id section
 */
#cat-main {
	margin-left: 150px;
}

#cat-menu {
	color: #B08047;
	float: left;
	width: 150px;
}

#cat-menu a {
	color: inherit;
}

#cat-menu p {
	padding: 4px 0;
}

#content {
	-moz-box-shadow: 1px 2px 7px #777;
	-webkit-box-shadow: 1px 2px 7px #777;
	box-shadow: 1px 2px 7px #777;
}

#emphasis-thumbnail {
	background-color: #FCC;
	float: right;
	margin: 10px 5px;
	padding: 0 5px 10px 5px;
	text-align: center;
	width: 360px;
	height: 540px;
}

#emphasis-thumbnail img {
	width: 350px;
	height: 400px;
}

#header {
	margin-bottom: 24px;
}

#lang-switcher a {
	color: inherit;
}

#main-content {
	float: left;
}

#slider-container {
	height: 500px;
	margin-bottom: 30px;
}


/***********************************
 * class section
 */
.cat-showcase {
	float: right;
	margin: 10px 20px 12px 0px;
	width: 360px;
	height: 622px;
	height: 300px;
}

.category-head {
	text-align: center;
}

.category-level {
	font-size: 100%;
	padding-left: 15px;
}

.clear {
	clear: both;
}

.container {
	margin-bottom: 12px;
}

.container-col-span-1 {
	float: left;
	margin-right: 12.5px;
	overflow: hidden;
	width: 228px;
	height: 450px;
}

.container-col-span-1 img {
	width: 100%;
	height: 100%;
}
.container-col-span-1-last {
	float: left;
	overflow: hidden;
	width: 228px;
	height: 450px;
}

.container-col-span-1-last img {
	width: 100%;
	height: 100%;
}

.container-col-upper {
	height: 220px;
	margin-bottom: 10px;
	overflow: hidden;
}

.container-col-lower {
	height: 220px;
	overflow: hidden;
}

.content {
	background-color: #FFF;
	margin-bottom: 12px;
	overflow: hidden;
	padding: 20px;
}

.discount-tag {
	color: #F00;
	font-size: 18px;
	font-weight: bold;
}

.error-panel {
	background-color: #FCC;
	border: 2px solid #B33;
	color: #B33;
	font-weight: bold;
	margin-bottom: 10px;
	padding: 5px;
}

.form td {
	padding: 2px;
}

.form td:first-child{
	width:150px;
}


.form-label {
	/*display: inline-block;
	width: 100px;
	*/
}

.form_indent{
	margin-left:2em;
}

.hr {
	border-bottom: 1px solid #E0E0E0;
}

.lang-switch {
	float: right;
	font-size: 1.2em;
	width: 25px;
}

.level-0 {
	font-size: 16px;
}

.level-1 {
	font-size: 16px;
	font-weight: bold;
	margin-left: 0px;
}

.level-2 {
	font-size: 15px;
	margin-left: 20px;
}

.menu-item {
	
}

.page-nav {
	display: block;
	height: 20px;
	margin-bottom: 20px;
}

.prev-page {
	float: left;
	font-size: 13px;
	font-weight: bold;
	margin: 10px;
	text-align: center;
	vertical-align: middle;
}

.next-page {
	float: right;
	font-size: 13px;
	font-weight: bold;
	margin: 10px;
	margin-right: 20px;
	text-align: center;
	vertical-align: middle;
}

.prev-page:hover,
.next-page:hover {
	font-size: 14px;
	text-decoration: underline;
}

.product-thumbnail {
	border: 1px solid #E0E0E0;
	float: left;
	margin: 10px 5px;
	text-align: center;
	width: 175px;
	height: 300px;
}

.product-thumbnail:hover {
	-moz-box-shadow: 1px 1px 3px #777;
	-webkit-box-shadow: 1px 1px 3px #777;
	box-shadow: 1px 1px 3px #777;
}

.theme-default #slider {
	margin:10px auto 10px auto;
	width:950px; /* Make sure your images are the same size */
	height:470px; /* Make sure your images are the same size */
}

.theme-pascal.slider-wrapper,
.theme-orman.slider-wrapper {
	margin-top:150px;
}

.thumbnail-description {
	padding: 10px;
	text-align: left;
}

.thumbnail-description p {
	margin-bottom: 7px;
}

.thumbnail-img {
	display: block;
	margin-bottom: 5px;
	width: 175px;
	height: 235px;
}

.yellow-box {
	background-color: #FFC;
	border: 2px solid #FF0;
	margin-bottom: 10px;
	padding: 10px;
}
