@charset "utf-8";

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
	margin: 0;
	padding: 0;
}

body,
button,
input,
select,
textarea {
	font: 12px/1.5 tahoma, arial, \5b8b\4f53;
	font-family: tahoma, arial, HM Ampersand Light, Arial, sans-serif;
}

address,
cite,
dfn,
em,
var {
	font-style: normal;
}

code,
kbd,
pre,
samp {
	font-family: courier new, courier, monospace;
}

small {
	font-size: 12px;
}

ul,
ol {
	list-style: none;
}

.logo{
	position:relative;
	float:left;
}

.fb_logo{
	margin-top:0.5em;
	width:30px;
	height:30px;
}

.cart{
	margin-top:0.5em;
	width:30px;
	height:30px;
}

.menu_l1 {
	background:#501100;
}

.menu_lang,
.menu_l1,
.menu_l2 {
	text-align:right;
}

.menu_l2 {
	margin-bottom:3em;
}

.menu_lang ul li,
.menu_l1 ul li,
.menu_l2 ul li {
	display: inline;
	margin-left: 1em;
	margin-right: auto;
}

.menu_l2 ul {
	line-height:3em;
}

.menu_l1 a,
.menu_l1 li,
.menu_l2 a,
.menu_l2 li{
	font-family: Arial;
	font-weight: bold;
	font-size:16;
	color:#fff;
}
.menu_l2 a,
.menu_l2 li{
	color:#501100;
}

.footer_list{
	margin-left: auto;
	margin-right: auto;
}
.footer_list .block{
	position: relative;
	float: left;
	width: 25%;
}

.footer_head{
	font-size: 18;
	color: #565656;
	width: 80%;
	border-bottom: 1px solid #565656;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

sup {
	vertical-align: text-top;
}

sub {
	vertical-align: text-bottom;
}

legend {
	color: #000;
}

fieldset,
img {
	border: 0;
}

button,
input,
select,
textarea {
	font-size: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	/*background-color: #E6E6E6;*/
	background-color: #FFF;
}

#page,
#header,
#content,
#footer {
	margin-left: auto;
	margin-right: auto;
	width: 950px;
}


/***********************************
 * tag section
 */
h1 {
	background-color: #000;
	color: #FFF;
	display: block;
	font-size: 180%;
	padding: 10px 20px;
}

h2 {
	background-color: #666;
	color: #FFF;
	display: block;
	font-size: 170%;
	padding: 8px 20px;
}


/***********************************
 * id section
 */
#cat-main {
	margin-left: 150px;
}

#cat-menu {
	float: left;
	width: 150px;
}

#cat-menu a {
	color: inherit;
}

#cat-menu p {
	padding: 4px 0;
}

#content {
	-moz-box-shadow: 2px 2px 5px #888;
	-webkit-box-shadow: 2px 2px 5px #888;
	box-shadow: 2px 2px 5px #888;
}

#emphasis-thumbnail {
	background-color: #FCC;
	float: right;
	margin: 10px 5px;
	padding: 0 5px 10px 5px;
	text-align: center;
	width: 360px;
	height: 540px;
}

#emphasis-thumbnail img {
	width: 350px;
	height: 400px;
}

#header {
	margin-bottom: 24px;
}

#lang-switcher a {
	color: inherit;
}

#main-content {
	float: left;
}

#slider-container {
	height: 470px;
	margin-bottom: 30px;
}


/***********************************
 * class section
 */
.category-head {
	text-align: center;
}

.category-level {
	font-size: 100%;
	padding-left: 15px;
}

.clear {
	clear: both;
}

.container {
	margin-bottom: 12px;
}

.container-col-span-1 {
	float: left;
	margin-right: 12.5px;
	overflow: hidden;
	width: 228px;
	height: 450px;
}

.container-col-span-1 img {
	width: 100%;
	height: 100%;
}
.container-col-span-1-last {
	float: left;
	overflow: hidden;
	width: 228px;
	height: 450px;
}

.container-col-span-1-last img {
	width: 100%;
	height: 100%;
}

.container-col-upper {
	height: 220px;
	margin-bottom: 10px;
	overflow: hidden;
}

.container-col-lower {
	height: 220px;
	overflow: hidden;
}

.content {
	background-color: #FFF;
	margin-bottom: 12px;
	overflow: hidden;
	padding: 20px;
}

.error-panel {
	background-color: #FCC;
	border: 2px solid #B33;
	color: #B33;
	font-weight: bold;
	margin-bottom: 10px;
	padding: 5px;
}

.form td {
	padding: 2px;
}

.form-label {
	display: inline-block;
	width: 200px;
}

.lang-switch {
	float: right;
	font-size: 1.2em;
	width: 25px;
}

.product-thumbnail {
	border-top: 2px solid #FFF;
	border-left: 1px solid #FFF;
	border-bottom: 1px solid #E0E0E0;
	border-right: 1px solid #FFF;
	float: left;
	margin: 10px 5px;
	text-align: center;
	width: 175px;
	height: 265px;
}

.product-thumbnail:hover {
	border-top: 1px solid #EEE;
	border-left: 1px solid #DDD;
	border-bottom: 2px solid #CCC;
	border-right: 1px solid #DDD;
}

.product-thumbnail img {
	width: 175px;
	height: 200px;
}

.theme-default #slider {
	margin:10px auto 10px auto;
	width:950px; /* Make sure your images are the same size */
	height:470px; /* Make sure your images are the same size */
}

.theme-pascal.slider-wrapper,
.theme-orman.slider-wrapper {
	margin-top:150px;
}

.thumbnail-description {
	padding: 10px;
	text-align: left;
}

.thumbnail-description p {
	margin-bottom: 7px;
}

.yellow-box {
	background-color: #FFC;
	border: 2px solid #FF0;
	margin-bottom: 10px;
	padding: 10px;
}
