@charset "utf-8";

#forms-panel {
	float: left;
	margin-left: 10px;
	padding: 0;
	width: 500px;
}

#menu-edit-form {
	background: #f0f0f0;
	float: left;
	margin-bottom: 20px;
	overflow:auto;
	padding: 10px;
	width: 500px;
	
	/* Border style */
	border: 1px solid #cccccc;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;

	/* Border Shadow */
	-moz-box-shadow: 2px 2px 2px #cccccc;
	-webkit-box-shadow: 2px 2px 2px #cccccc;
	box-shadow: 2px 2px 2px #cccccc;
}

#menu-list {
	width: 370px;
}

#menu-list-panel {
	float: left;
	width: 370px;
}

#menu-preview {
	overflow: scroll;
	width: 370px;
	height: 400px;
}

#msg-panel {
	font-weight: bold;
	margin-bottom: 10px;
	padding: 5px;
}

#msg-panel-holder {
	height: 45px;
}

#t-menu li {
	-moz-border-radius: 5px 10px 0 0;
	border-radius: 5px 10px 0 0;
	border: 1px solid #CCC;
	border-bottom: 1px solid #BBB;
	background-color: #DDD;
	cursor: pointer;
	float: left;
	margin-right: 1px;
	margin-bottom: -1px;
	padding: 3px;
}

#t-menu .t-active {
	background-color: #FFF;
	border-bottom: 1px solid #FFF;
}

#tab-cn {
	display: none;
}

#tab-en {
	display: block;
}

#tab-zh {
	display: none;
}

#tabs {
	margin: 5px 0;
}

.error {
	background-color: #FCC;
	border: 2px solid #B33;
	color: #B33;
	z-index: 999;
}

.form {
	border-top: 1px solid #EEE;
	border-left: 1px solid #DDD;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #BBB;
	margin: 10px;
	padding: 10px;
}

.field {
	margin: 5px 0;
}

.inactive {
	color: #AAA;
	font-size: 0.9em;
	font-style: italic;
	padding: 1px;
}

.input {
	width: 350px;
}

.label {
	display: block;
	float: left;
	font-size: 14px;
	font-weight: bold;
	line-height: 25px;
	margin-right:10px;
	padding-right: 5px;
	text-align: right;
	text-shadow: 2px 2px 2px #ccc;
	width: 120px;
}

.level-0 {
	font-size: 0.95em;
}

.level-1 {
	font-size: 0.9em;
	margin-left: 20px;
}

.level-2 {
	font-size: 0.8em;
	margin-left: 40px;
}

.submit-button {
	float: right;
	margin:10px 20px 10px 0;
	font-weight: bold;
	line-height: 1;
	padding: 6px 10px;
	cursor:pointer;
	color: #fff;

	text-align: center;
	text-shadow: 0 -1px 1px #64799e;

	/* Background gradient */
	background: #a5b8da;
	background: -moz-linear-gradient (top, #a5b8da 0%, #7089b3 100%);
	background: -webkit-gradient (linear, 0% 0%, 0% 100%, from(#a5b8da), to(#7089b3));

	/* Border style */
	border: 1px solid #5c6f91;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	/* Box shadow */
	-moz-box-shadow: inset 0 1px 0 0 #aec3e5;
	-webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
	box-shadow: inset 0 1px 0 0 #aec3e5;
}

.success {
	background-color: #CFC;
	border: 2px solid #3B3;
	color: #3B3;
}

.tab-content {
	border: 1px solid #CCC;
	padding: 5px;
}