@charset "utf-8";

#add-link {
	float: left;
	margin-left: 20px;
}

#batch_upload {
	float: left;
	width: 400px;
}

#forms-panel {
	float: left;
	margin-left: 10px;
	padding: 0;
	width: 450px;
}

#msg-panel {
	font-weight: bold;
	margin-bottom: 10px;
	padding: 5px;
}

#msg-panel-holder {
	height: 45px;
}

#operation-panel {
	font: 14px Verdana,Arial;
	padding: 10px 5px;
}

#operation-panel label {
	font: 14px Verdana,Arial;
}

#operation-panel select {
	font: 12px Verdana,Arial;
	padding: 2px 4px 4px;
}

#tab-cn {
	display: none;
}

#tab-en {
	display: block;
}

#tab-zh {
	display: none;
}

#tabs {
	margin: 5px 0;
}

.error {
	background-color: #FCC;
	border: 2px solid #B33;
	color: #B33;
	margin-bottom: 20px;
	padding: 5px;
}

.form {
	border-top: 1px solid #EEE;
	border-left: 1px solid #DDD;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #BBB;
	margin: 10px;
	padding: 10px;
}

.inactive {
	color: #AAA;
	font-size: 0.9em;
	font-style: italic;
	padding: 1px;
}

.level-0 {
	font-size: 0.95em;
}

.level-1 {
	font-size: 0.9em;
	margin-left: 20px;
}

.level-2 {
	font-size: 0.8em;
	margin-left: 40px;
}

.showcase {
	background: #FFF;
	border: 1px solid #CCC;
	display: none;
	position: absolute;
	width: 150px;
	height: 200px;
	z-index: 999;
}

.success {
	background-color: #CFC;
	border: 2px solid #3B3;
	color: #3B3;
	margin-bottom: 20px;
	padding: 5px;
}

.tab-content {
	border: 1px solid #CCC;
	padding: 5px;
}

.thumbnail {
	width: 35px;
	height: 50px;
}

/**********************
* edit_products.php
*/

textarea {
	resize: none;
	height: 80px;
}

#add-button {
	padding-left: 5px;
	width: 15px;
	height: 15px;
}

#product-form {
	background: #f0f0f0;
	float: left;
	overflow:auto;
	padding: 20px;
	width: 500px;

	/* Border style */
	border: 1px solid #cccccc;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;

	/* Border Shadow */
	-moz-box-shadow: 2px 2px 2px #cccccc;
	-webkit-box-shadow: 2px 2px 2px #cccccc;
	box-shadow: 2px 2px 2px #cccccc;
}

#product-image-panel {
	float: left;
	margin-left: 20px;
	width: 330px;
}

.button{
	float: right;
	margin:10px 55px 10px 0;
	font-weight: bold;
	line-height: 1;
	padding: 6px 10px;
	cursor:pointer;
	color: #fff;

	text-align: center;
	text-shadow: 0 -1px 1px #64799e;

	/* Background gradient */
	background: #a5b8da;
	background: -moz-linear-gradient (top, #a5b8da 0%, #7089b3 100%);
	background: -webkit-gradient (linear, 0% 0%, 0% 100%, from(#a5b8da), to(#7089b3));

	/* Border style */
	border: 1px solid #5c6f91;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	/* Box shadow */
	-moz-box-shadow: inset 0 1px 0 0 #aec3e5;
	-webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
	box-shadow: inset 0 1px 0 0 #aec3e5;
}

.clickable {
	cursor: pointer;
}

.color-selected {
	border: 3px solid #FAD228;
}

.color-selection {
	float: left;
	overflow: hidden;
	padding: 3px;
	width: 150px;
	height: 200px;
}

.color-thumbnail {
	width: 140px;
	height: 190px;
}

.comp-selection {
	font-family: Arial, Verdana;
	font-size: 15px;
	padding: 2px;
	border: 1px solid #b9bdc1;
	width: 200px;
	color: #333;
}

.field {
	clear: both;
	margin: 5px;
}

.field:hover .hint {
	position: absolute;
	display: block;
	margin: -30px 0 0 455px;
	color: #FFFFFF;
	padding: 7px 10px;
	background: rgba(0, 0, 0, 0.6);

	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

.hint{
	display:none;
}

.input {
	font-family: Arial, Verdana;
	font-size: 15px;
	padding: 5px;
	border: 1px solid #b9bdc1;
	width: 300px;
	color: #333;
}

.label {
	text-shadow: 2px 2px 2px #ccc;
	display: block;
	float: left;
	font-size: 14px;
	font-weight: bold;
	margin-right:10px;
	text-align: right;
	width: 120px;
	line-height: 25px;
}

.short-input {
	width: 70px;
}

.radio {
	margin: 5px 30px 5px 0;
}

